@media screen and(max-width: 85em) {
  .header .navbar {
    //background-color: peru !important;
  }

}

@media screen and(max-width: 75em) {
  .header .navbar {
    //background-color: cyan !important; 
  }
  .w-70, .w-50 {
    width: 70% !important;
  }

}
@media screen and(max-width: 62.1em) {
  .header .navbar {
    //background-color: magenta !important;
  }
  .w-70, .w-50 {
    width: 75% !important;
  }
  .split__item {
    margin-bottom: 2rem;
    .split__content {
      padding: 2rem;
    }
  }
  .section__vision {
    p {
      padding: 1rem 0;
    }
  }
  .values__description1 {
    order: 1 !important;
  }
  .values__description2 {
    order: 2 !important;
  }
  .values__description3 {
    order: 4 !important;
  }
  .values__description4 {
    order: 3 !important;
  }
  .values__description5 {
    order: 5 !important;
  }
  .values__description6 {
    order: 6 !important;
  }
  .values__description7 {
    order: 8 !important;
  }
  .values__description8 {
    order: 7 !important;
  }
  .page__img {
    margin: 2rem;
  }
  .navbar-toggler {
    i {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: map-get($color, third);
    }
  }
  .navbar-collapse ul {
    margin: 0 !important;
    text-align: center;
    .nav-link {
      padding: 1rem;
      cursor: pointer;
    }
  }
  .hero__btn, .section__call, .btn-second {
    .btn {
      font-size: 1.3rem;
    }
  }
  .section__location {
    .nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        padding: 1rem;
      }
    }
  }
}
@media screen and(max-width: 48em) {
  .header .navbar {
    //background-color: yellow !important;
  }
  
}

@media screen and(max-width: 37.5em) {
  .header .navbar {
    //background-color: black !important;
  }
  .w-70 {
    width: 90% !important;
  }
  .title {
    font-size: $title-size - .2rem !important;
  }
  .subtitle {
    font-size: $subtitle-size - .4rem !important;
  }

}
@media screen and(max-width: 30em) {
  .header .navbar {
    //background-color: blue !important;
  }
  .w-50, .w-70 {
    width: 90% !important;
  }



}
@media screen and(max-width: 20em) {
  .header .navbar {
    //background-color: green !important;
  }

}

