// Configuraciones del tema
// $Font family
// $Font size
$text-size: 16px;
$subtitle-size: 1.7rem;
$title-size: 2rem;
$big-subtitle-size: 2.3rem;
$big-title-size: 2.5rem;

// $Color
$color : (
  main: #2AB572,
  second : #FBB03F,
  third: #29436E,
  shadow: rgb(14, 14, 14) ,
  gray-color: #F2F2F2,
  gray-light: #EEECEC,
  light: #FFF
);
// $text 
.t-main {
  color: map-get($color, main);
}
// $Flex
.j-center { justify-content: center; } 
.j-end { justify-content: flex-end; } 
.j-between { justify-content: space-between };
.a-center { align-items: center; } 
.f-column { flex-direction: column }
// $Position
.p-relative { position: relative; }
.p-absolute { position: absolute; }
.p-fixed { position: fixed; }
.e-center { margin-left: auto; margin-right: auto; } 

// $Size
.full-height { height: 100%; }
.full-width { width: 100%; } 
.full-height-view { min-height: 100vh; }
.w-90 { width: 90%; margin: 0 auto; }
.w-70 { width: 70%; margin: 0 auto; } 
.w-50 { width: 50%; margin: 0 auto; } 

// $Display
.d-flex { display: flex; }
.d-none { display: none !important; } 
.d-block { display: block; }
// $About text
.t-left { text-align: left !important; }
.t-right { text-align: right !important; }
.t-center { text-align: center; } 
.t-bold { font-weight: bold; } 

// $other
.no-list { list-style: none; } 
.no-padding { padding: 0; }
// $shape 
.circle {
  border-radius: 50%;
}
.img-circle {
  margin: 0;
  border-radius: 50%;
  overflow: hidden;
}
// $overflow
.o-hidden {
  overflow: hidden;
}
