.footer {
  color: map-get($color, light);
  .hero__background {
    top: 0;
    left: 0;
  }
  .info__container {
    position: relative;
    z-index: 99;
    padding: 4rem 0;
  }
  .heading {
    margin-bottom: 3rem;
  }
  .footer__contact {
    .subtitle {
      font-size: 1.1rem;
      margin-bottom: .5rem;
    }
    i {
      margin-right: .5rem;
    }
  }
  .contact__item {
    margin-bottom: 2rem;
  }
  .footer__rights {
    background-color: map-get($color, third);
    text-align: center;
    padding: .5rem;
  }
}