.page {
  .heading {
    padding: 4rem 0;
    h1 {
      position: relative;
      z-index: 99;
      color: map-get($color, second);
    }
  }

  .heading__background {
    top: 0;
    left: 0;
  }
  .page__content {
    padding: 2rem 0;
  }

}
.page__section {
  padding: 2rem 0;
  justify-content: center;
  .heading {
    color: map-get($color, light);
    text-align: center;
    background-color: map-get($color, third);
  }
  .row:first-child {
    .heading {
      background-color: map-get($color, second);
    }
    margin-bottom: 1rem;
  }
}

.page__subheading {
  background-color: map-get($color, third);
  color: white;
  padding: 1rem;
  margin-top: 2rem;
  h5 {
    font-size: 1.4rem;
  }
}
.page__description {
  padding: 1rem;
  i {
    color: map-get($color, main);
  }
  .nav-item {
    div {
      padding: 1rem 1rem;
    }
  }
}

.page__img {
  width: 6rem;
}

.values {
  .page__heading {
    margin-bottom: 2rem;
  }
  .page__container {
    .subtitle {
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  .b-third-light {
    background-color: lighten( map-get($color, third) , 55%);
    padding: 2rem;
  }
  .b-second-light {
    background-color: lighten( map-get($color, second) , 25%);
    padding: 2rem;
  }
  
}