.page__control {
  font-size: 2rem;
  z-index: 9;
  position: absolute;
  bottom: 1rem;
  a {
    color: map-get($color, light);
  }
}

.section {
  position: relative;
  padding: 4rem 0;
  .heading {
    margin-bottom: 3rem;
    .title {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: .5rem;
    }
    .subtitle {
      font-size: 1.7rem;
      margin-bottom: .7rem;
    }
  }
}
.section__objetives {
  .section__items {
    i {
      color: map-get($color, main);
      margin-right: 1rem;
    }
    .nav-item {
      margin-bottom: 2rem;
    }    
  }
  .section__call {
    .nav-link {
      color: map-get($color, main);
      text-decoration: underline;
      font-weight: bold;
      font-size: 1.4rem;
    }
  }
  .page__control {
    a {
      color: map-get($color, second);
    }
  }
}

.section__location {
  .section__content {
    z-index: 99;
    color: map-get($color, light);
  }
  .nav {
    justify-content: space-around;
    font-size: 1.2rem;
    i {
      color: map-get($color, second);
      margin-right: 1rem;
    }
  }
  .section__call {
    margin-top: 3rem;
  }
}

.section__programs {
  figure {
    padding: 0;
  }
  .split__background {
    background: linear-gradient(rgba(map-get($color, main), 0.5), rgba(map-get($color, main), 0.5));
  }
  .btn {
    margin-top: 1rem;
  }
  .subtitle {
    font-size: 1.2rem;
    margin-top: .5rem;
  }

  .section__call {
    margin-top: 3rem;
    .nav-link {
      color: map-get($color, main);
      text-decoration: underline;
      font-weight: bold;
      font-size: 1.4rem;
    }
  }
  .page__control {
    a {
      color: map-get($color, second);
    }
  }

}


.hero .page__control {
  a {
    color: map-get($color, light);
  }
}

