.t-main {
  color: #2AB572; }

.j-center {
  justify-content: center; }

.j-end {
  justify-content: flex-end; }

.j-between {
  justify-content: space-between; }

.a-center {
  align-items: center; }

.f-column {
  flex-direction: column; }

.p-relative {
  position: relative; }

.p-absolute {
  position: absolute; }

.p-fixed {
  position: fixed; }

.e-center {
  margin-left: auto;
  margin-right: auto; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.full-height-view {
  min-height: 100vh; }

.w-90 {
  width: 90%;
  margin: 0 auto; }

.w-70 {
  width: 70%;
  margin: 0 auto; }

.w-50 {
  width: 50%;
  margin: 0 auto; }

.d-flex {
  display: flex; }

.d-none {
  display: none !important; }

.d-block {
  display: block; }

.t-left {
  text-align: left !important; }

.t-right {
  text-align: right !important; }

.t-center {
  text-align: center; }

.t-bold {
  font-weight: bold; }

.no-list {
  list-style: none; }

.no-padding {
  padding: 0; }

.circle {
  border-radius: 50%; }

.img-circle {
  margin: 0;
  border-radius: 50%;
  overflow: hidden; }

.o-hidden {
  overflow: hidden; }

/* # reset */
*, *:after, *:before {
  box-sizing: border-box; }

html, body, h1, h2, h3, h4, h5, h6, ul, li, figure, .row {
  margin: 0;
  padding: 0; }

figure img {
  width: 100%; }

a, a:hover {
  text-decoration: none; }

nav ul {
  list-style: none; }

body {
  font-size: 16px;
  background-color: #EEECEC; }

.row {
  margin-right: 0 !important;
  margin-left: 0 !important; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-color: #FFF; }

.title, .subtitle, h1, h2, h3 {
  font-family: 'Montserrat', sans-serif; }

.title {
  font-size: 2rem; }

.subtitle {
  font-size: 1.7rem; }

blockquote {
  border-left: 0.2rem solid #FBB03F;
  padding-left: .5rem;
  margin-left: 1rem;
  margin: 1rem; }

.btn-primary {
  background-color: #2AB572;
  color: #FFF !important;
  border-color: #25a065;
  -webkit-box-shadow: 0px 4px 6px -5px rgba(128, 128, 128, 0.69);
  -moz-box-shadow: 0px 4px 6px -5px rgba(128, 128, 128, 0.69);
  box-shadow: 0px 4px 6px -5px rgba(128, 128, 128, 0.69);
  border-radius: 10rem;
  padding: .2rem 1rem !important; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #25a065;
    border-color: #208c58; }

.btn-second {
  background-color: #FBB03F;
  color: #FFF !important;
  border-color: #faa626;
  -webkit-box-shadow: 0px 4px 6px -5px rgba(128, 128, 128, 0.69);
  -moz-box-shadow: 0px 4px 6px -5px rgba(128, 128, 128, 0.69);
  box-shadow: 0px 4px 6px -5px rgba(128, 128, 128, 0.69);
  border-radius: 10rem;
  padding: .2rem 1rem !important; }
  .btn-second:hover, .btn-second:focus, .btn-second:active {
    background-color: #faa626;
    border-color: #fa9b0d; }

.header {
  position: relative;
  z-index: 999; }
  .header .navbar-nav {
    width: 100% !important;
    justify-content: center;
    font-weight: bold;
    margin-left: -4rem; }
  .header .nav__principal {
    background-color: #FFF;
    border-bottom: 0.3rem solid #FBB03F; }
    .header .nav__principal .logo {
      width: 8rem; }
    .header .nav__principal a {
      color: #0e0e0e !important; }
    .header .nav__principal li {
      padding: 0 2rem; }

.hero {
  text-align: center;
  margin-top: -4.2rem;
  padding: 4rem 0; }
  .hero .hero__background {
    z-index: 1; }
  .hero .hero__info {
    position: relative;
    z-index: 90; }
  .hero .hero__logo {
    width: 16rem;
    margin: 0 auto 2rem;
    background: white;
    padding: 3rem; }
  .hero .heading {
    text-transform: uppercase; }
    .hero .heading .subtitle {
      color: #FFF;
      font-weight: 100; }
    .hero .heading .title {
      color: #FBB03F;
      font-size: 3.5rem;
      margin: 1.5rem; }

.footer {
  color: #FFF; }
  .footer .hero__background {
    top: 0;
    left: 0; }
  .footer .info__container {
    position: relative;
    z-index: 99;
    padding: 4rem 0; }
  .footer .heading {
    margin-bottom: 3rem; }
  .footer .footer__contact .subtitle {
    font-size: 1.1rem;
    margin-bottom: .5rem; }
  .footer .footer__contact i {
    margin-right: .5rem; }
  .footer .contact__item {
    margin-bottom: 2rem; }
  .footer .footer__rights {
    background-color: #29436E;
    text-align: center;
    padding: .5rem; }

.page__control {
  font-size: 2rem;
  z-index: 9;
  position: absolute;
  bottom: 1rem; }
  .page__control a {
    color: #FFF; }

.section {
  position: relative;
  padding: 4rem 0; }
  .section .heading {
    margin-bottom: 3rem; }
    .section .heading .title {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: .5rem; }
    .section .heading .subtitle {
      font-size: 1.7rem;
      margin-bottom: .7rem; }

.section__objetives .section__items i {
  color: #2AB572;
  margin-right: 1rem; }

.section__objetives .section__items .nav-item {
  margin-bottom: 2rem; }

.section__objetives .section__call .nav-link {
  color: #2AB572;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.4rem; }

.section__objetives .page__control a {
  color: #FBB03F; }

.section__location .section__content {
  z-index: 99;
  color: #FFF; }

.section__location .nav {
  justify-content: space-around;
  font-size: 1.2rem; }
  .section__location .nav i {
    color: #FBB03F;
    margin-right: 1rem; }

.section__location .section__call {
  margin-top: 3rem; }

.section__programs figure {
  padding: 0; }

.section__programs .split__background {
  background: linear-gradient(rgba(42, 181, 114, 0.5), rgba(42, 181, 114, 0.5)); }

.section__programs .btn {
  margin-top: 1rem; }

.section__programs .subtitle {
  font-size: 1.2rem;
  margin-top: .5rem; }

.section__programs .section__call {
  margin-top: 3rem; }
  .section__programs .section__call .nav-link {
    color: #2AB572;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.4rem; }

.section__programs .page__control a {
  color: #FBB03F; }

.hero .page__control a {
  color: #FFF; }

.page .heading {
  padding: 4rem 0; }
  .page .heading h1 {
    position: relative;
    z-index: 99;
    color: #FBB03F; }

.page .heading__background {
  top: 0;
  left: 0; }

.page .page__content {
  padding: 2rem 0; }

.page__section {
  padding: 2rem 0;
  justify-content: center; }
  .page__section .heading {
    color: #FFF;
    text-align: center;
    background-color: #29436E; }
  .page__section .row:first-child {
    margin-bottom: 1rem; }
    .page__section .row:first-child .heading {
      background-color: #FBB03F; }

.page__subheading {
  background-color: #29436E;
  color: white;
  padding: 1rem;
  margin-top: 2rem; }
  .page__subheading h5 {
    font-size: 1.4rem; }

.page__description {
  padding: 1rem; }
  .page__description i {
    color: #2AB572; }
  .page__description .nav-item div {
    padding: 1rem 1rem; }

.page__img {
  width: 6rem; }

.values .page__heading {
  margin-bottom: 2rem; }

.values .page__container .subtitle {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem; }

.values .b-third-light {
  background-color: #c6d3ea;
  padding: 2rem; }

.values .b-second-light {
  background-color: #fee3bc;
  padding: 2rem; }

@media screen and (max-width: 75em) {
  .w-70, .w-50 {
    width: 70% !important; } }

@media screen and (max-width: 62.1em) {
  .w-70, .w-50 {
    width: 75% !important; }
  .split__item {
    margin-bottom: 2rem; }
    .split__item .split__content {
      padding: 2rem; }
  .section__vision p {
    padding: 1rem 0; }
  .values__description1 {
    order: 1 !important; }
  .values__description2 {
    order: 2 !important; }
  .values__description3 {
    order: 4 !important; }
  .values__description4 {
    order: 3 !important; }
  .values__description5 {
    order: 5 !important; }
  .values__description6 {
    order: 6 !important; }
  .values__description7 {
    order: 8 !important; }
  .values__description8 {
    order: 7 !important; }
  .page__img {
    margin: 2rem; }
  .navbar-toggler i {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #29436E; }
  .navbar-collapse ul {
    margin: 0 !important;
    text-align: center; }
    .navbar-collapse ul .nav-link {
      padding: 1rem;
      cursor: pointer; }
  .hero__btn .btn, .section__call .btn, .btn-second .btn {
    font-size: 1.3rem; }
  .section__location .nav {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section__location .nav li {
      padding: 1rem; } }

@media screen and (max-width: 37.5em) {
  .w-70 {
    width: 90% !important; }
  .title {
    font-size: 1.8rem !important; }
  .subtitle {
    font-size: 1.3rem !important; } }

@media screen and (max-width: 30em) {
  .w-50, .w-70 {
    width: 90% !important; } }
